<a href="https://colab.research.google.com/github/EZZRITOE/cookie-recipe/blob/master/Moringa_Data_Science_Prep_W3_Independent_Project_2019_07_Ezra_Mageto_python_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

MTN Cote d'ivoire Data analysis

In [ ]:
import pandas as pd
import numpy as np

Creating a dataframe from the CSV file

In [ ]:
  

df=('cells_geo.csv')

df = pd.read_csv('cells_geo.csv')
#df.iloc[:,0 ]
print(pd.read_csv('cells_geo.csv', encoding = 'latin1').head(300))

df.iloc[:,0 ]

    ;VILLES;STATUS;LOCALISATION;DECOUPZONE;ZONENAME;LONGITUDE;LATITUDE;REGION;AREA;CELL_ID;SITE_CODE
0    0;ADJAME;In Service;ABIDJAN;"""Abidjan_EST";AG...
1    1;ADJAME;In Service;ABIDJAN;"""Abidjan_EST";AG...
2    2;ADJAME;In Service;ABIDJAN;"""Abidjan_EST";AG...
3    3;ASSINIE;In Service;INTERIEUR;Grand-EST;"ASSI...
4    4;ASSINIE;In Service;INTERIEUR;Grand-EST;"ASSI...
..                                                 ...
295  295;ADZOPE;In Service;INTERIEUR;Grand-EST;ZONE...
296  296;PORT-BOUET;In Service;ABIDJAN;Abidjan_SUD;...
297  297;PORT-BOUET;In Service;ABIDJAN;Abidjan_SUD;...
298  298;PORT-BOUET;In Service;ABIDJAN;Abidjan_SUD;...
299  299;PORT-BOUET;In Service;ABIDJAN;Abidjan_SUD;...

[300 rows x 1 columns]

0       0;ADJAME;In Service;ABIDJAN;"""Abidjan_EST";AG...
1       1;ADJAME;In Service;ABIDJAN;"""Abidjan_EST";AG...
2       2;ADJAME;In Service;ABIDJAN;"""Abidjan_EST";AG...
3       3;ASSINIE;In Service;INTERIEUR;Grand-EST;"ASSI...
4       4;ASSINIE;In Service;INTERIEUR;Grand-EST;"ASSI...
                              ...
3969    3969;ZUENOULA;In Service;INTERIEUR;Grand-NORD;...
3970    3970;ZUENOULA;In Service;INTERIEUR;Grand-NORD;...
3971    3971;ZUENOULA;In Service;INTERIEUR;Grand-NORD;...
3972    3972;ZUENOULA;In Service;INTERIEUR;Grand-NORD;...
3973    3973;ZUENOULA;In Service;INTERIEUR;Grand-NORD;...
Name: ;VILLES;STATUS;LOCALISATION;DECOUPZONE;ZONENAME;LONGITUDE;LATITUDE;REGION;AREA;CELL_ID;SITE_CODE, Length: 3974, dtype: object

Identifying the columns

In [ ]:
df = pd.DataFrame(df, columns = ['VILLES','STATUS','LOCALISATION','DECOUPZONE','ZONENAME','LONGITUDE','LATITUDE','REGION','AREA','CELL_ID','SITE_CODE'])

#


df

      VILLES  STATUS  LOCALISATION  ...  AREA  CELL_ID  SITE_CODE
0        NaN     NaN           NaN  ...   NaN      NaN        NaN
1        NaN     NaN           NaN  ...   NaN      NaN        NaN
2        NaN     NaN           NaN  ...   NaN      NaN        NaN
3        NaN     NaN           NaN  ...   NaN      NaN        NaN
4        NaN     NaN           NaN  ...   NaN      NaN        NaN
...      ...     ...           ...  ...   ...      ...        ...
3969     NaN     NaN           NaN  ...   NaN      NaN        NaN
3970     NaN     NaN           NaN  ...   NaN      NaN        NaN
3971     NaN     NaN           NaN  ...   NaN      NaN        NaN
3972     NaN     NaN           NaN  ...   NaN      NaN        NaN
3973     NaN     NaN           NaN  ...   NaN      NaN        NaN

[3974 rows x 11 columns]

Finding the most used city in the 3 days

In [ ]:
max('cells_geo.csv',VILLES)

Cities Most used during Business and home hours

In [ ]:
max('in_service',VILLES)